@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");

body {
  background-image: url("aryabhatt.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom center;
  margin: 0;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Press Start 2P", cursive;
  color: #fff;
}

.box {
  background: linear-gradient(js);
  height: 400px;
  width: 500px;
  border: 4px solid #f3e0a2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 20px;
  box-shadow: 0 0 20px #3a0202 inset, 0 0 20px #fffdfd;
}

.box h1 {
  font-size: 16px;
  margin-bottom: 20px;
  text-shadow: 2px 2px #000;
}

.box p {
  font-size: 8px;
  margin-bottom: 30px;
  text-shadow: 1px 1px #000;
}

.start-btn {
  display: inline-block;
  padding: 12px 25px;
  background-color: #00ff00;
  color: #000;
  font-size: 8px;
  font-weight: bold;
  text-decoration: none;
  border: 2px solid #fff;
  border-radius: 0;
  box-shadow: 0 0 5px #fff, 0 0 10px #0f0;
  transition: all 0.2s ease-in-out;
}

.start-btn:hover {
  background-color: #ff0;
  color: #000;
  box-shadow: 0 0 10px #fff, 0 0 20px #ff0;
  transform: scale(1.2);
}

.instruction-btn {
  display: inline-block;
  margin-top: 20px;
  padding: 12px 25px;
  background-color: yellow;
  color: black;
  font-size: 8px;
  font-weight: bold;
  text-decoration: none;
  border: 2px solid #fff;
  border-radius: 0;
  box-shadow: 0 0 5px #fff, 0 0 10px black;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}

.instruction-btn:hover {
  background-color: #00ffff;
  color: #000;
  box-shadow: 0 0 10px #fff, 0 0 20px #0f0;
  transform: scale(1.1);
}
.instructions-box {
  display: none;
  margin-top: 15px;
  padding: 15px;
  width: 90%;
  max-width: 400px;
  border: 2px solid #fff;
  background: rgba(0, 0, 0, 0.7);
  box-shadow: 0 0 10px #fff inset, 0 0 10px #ff0;
  text-align: left;
  font-size: 8px;
  line-height: 1.6;
  color: #fff;
}

.instructions-box ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.instructions-box li {
  margin-bottom: 8px;
  text-shadow: 1px 1px #000;
}
