* {
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
    width: 100%;
}

body {
    background-color: black;
    overflow: hidden;
    font-family: "Poppins", sans-serif;
}

.gameContainer {
    background-image: url(background.png);
    background-repeat: repeat-x;   
    background-size: cover;        
    background-position: bottom center;
    width: 100%;
    height: 100vh;

    animation: moveBackground 5s linear infinite;
    animation-play-state: running;
    transition: background-image 0s ease-in-out;
}

.gameContainer.paused{
    animation-play-state: paused;
}



.dino {
    background-image: url(mario.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 260px;
    height: 250px;
    position: absolute;
    bottom: 0;
    left: 52px;

}


.obstacle {
    background-image: url(images/pothole.png);
    width: 190px;
    height: 150px;
    background-size: cover;
    position: absolute;
    bottom: 0;
    left: 44vw;
}

.bird {
    background-image: url(rose-img.png);
    width: 150px;
    height: 200px;
    top: 20vh;
    right: -200px;
    background-size: cover;
    position: absolute;
}

.bird.hidden{
    display: none;
}

.animateDino {
    animation: dino 0.6s linear;
}

.obstacleAni {
    animation: obstacleAni 5s linear infinite;
}

.coupleAni {
    animation: coupleAni 5s linear infinite;
}

.birdAni {
    animation: birdfly 6s linear infinite;
}

.gameOver {
    position: relative;
    top: 60px;
    text-align: center;
    font-family: Poppins;
    color: #173180;
    font-size: 53px;
}



#scoreCont {
    position: absolute;
    font-size: 25px;
    font-weight: bold;
    color: #545d7b;
    right: 45px;
    top: 31px;
    border: 2px solid rgb(24, 24, 24);
    padding: 10px;
    font-family: sans-serif;
    width: 112px;
    border-radius: 10px;
}

#RoseCont {
    position: absolute;
    font-size: 25px;
    font-weight: bold;
    color: #545d7b;
    right: 180px;
    top: 31px;
    border: 2px solid rgb(24, 24, 24);
    padding: 10px;
    font-family: sans-serif;
    width: 112px;
    border-radius: 10px;
}

@keyframes dino {
    0% { bottom: 0; }
    50% { bottom: 422px; }
    100% { bottom: 0; }
}

@keyframes obstacleAni {
    0% { left: 100vw; }
    100% { left: -10vw; }
}

@keyframes birdfly {
    0% { right: -200px; }
    100% { right: 100vw; }
}




@keyframes moveBackground {
    from { background-position: 0 bottom; }
    to { background-position: -100vw bottom; }
}